* {
    margin: 2px;
    padding: 5px;
    border: 2px;
    border-color: black;
    box-sizing: border-box;
  }

  body{
    background-color: #f3b8b8 ;
  } 
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#f37b7b;
    font-family: cursive;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .heading {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10px;
    padding: 14px 16px;
  }
  
  .nav-links ul a:hover:not(.active) {
    background-color: #b8f3f0;
    border-radius: 1.5em;
  }
  
  .nav-links ul a.active {
    background-color: #31fa95;
    border-radius: 1.5em;
  }
  



  img {
    width: 200px;
    border-radius: 10px;
    float: right;
    margin-top: 100px;
    margin-right: 200px; 
  }

  .p1, .p2{
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 500px;
    margin-left: 100px;
  }

  .hello{
    margin-top: 40px;
    margin-left: 250px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }